@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100&family=Luckiest+Guy&display=swap');

:root {
    --p-style: Londrina Solid;
    --H-style: Luckiest Guy;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-color: #0c0013;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#40d0f0, transparent) #ffe2d1;
    transition: background-color 1s linear;
    overflow: hidden;
}

.contenedor {
    width: 100%;
    height: 100%;
    margin: 0 auto;



}

.mediodia {
    background-color: #ffdcf3;
}

.tarde {
    background-color: #ffadad;
}

.noche {
    background-color: #aca8c7;
}

.chicken {
    width: 51px;
    height: 48px;
    position: absolute;
    bottom: 22px;
    left: 125px;
    z-index: 10;
    background: url("img/chicken.png") repeat-x 0px 0px;
    background-size: 216px 48px;
    background-position-x: 0px;
}

.chicken-running {
    animation: animarChicken 0.25s steps(2) infinite;
}

.chicken-estrellado {
    background-position-x: -165px;
}

@keyframes animarChicken {
    0% {
        background-position-x: -57px;
    }

    100% {
        background-position-x: -165px;
    }
}

.suelo {
    width: 200%;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("img/suelo.png") repeat-x 0px 0px;
    background-size: 50% 42px;
}

.cactus {
    width: 99px;
    height: 151px;
    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;
    background: url("img/cactus1.png") no-repeat;
}

.cactus2 {
    width: 150px;
    height: 115px;
    background: url("img/cactus2.png") no-repeat;
}

.nube {
    width: 92px;
    height: 26px;
    position: absolute;
    z-index: 0;
    background: url("img/nube.png") no-repeat;
    background-size: 92px 26px;
}

.scoreContainer {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    padding: 50px;
    z-index: 10;
    font-family: var(--H-style);
    font-size: 40px;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

.game-over {
    display: none;
    background: linear-gradient(45deg, #ffffff, 66%, transparent);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    padding-top: 45vh;
    text-align: center;
    color: repeating-linear-gradient(45deg, #FF5733, #6B4226 30px);
    font-size: 10vw;
    font-family: var(--H-style);
}

.game-over-text {
    font-family: var(--H-style);
    background-image: radial-gradient(circle, #ff5e00, #ff00bb);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}