@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100&family=Luckiest+Guy&display=swap');

:root {
    --p-style: Londrina Solid;
    --H-style: Luckiest Guy;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-color: #0c0013;
    display: flex;
    align-items: center;

}

.start-screen {
    display: none;
    z-index: 9;
    background-color: #0c0013ea;
    width: 100%;
    height: 100%;
}

.start-screen-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-screen-container h1 {
    font-family: var(--H-style);
    font-size: 100px;
    color: #fff;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.9);
}

.start-button {
    background-color: transparent;
    border: 0;
    padding: 15px 10px 8px 10px;
    border-radius: 15px;
    font-size: 40px;
    font-family: var(--H-style);
    color: greenyellow;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.start-button:hover {
    transform: scale(1.5);
    color: #ff6955;
}

.contenedor {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    max-height: 600px;
    margin: 0 auto;

    position: relative;
    background: linear-gradient(rgba(209, 247, 255, 0) 20%, #00d0ff90);
    background-color: #bcecff;
    transition: background-color 9s ease;

    overflow: hidden;
}

.scoreContainer {
    z-index: 10;
    padding: 20px;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.scoreContainer h2 {
    font-family: var(--H-style);
    font-size: 40px;
    color: #fff;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.9);
}

#boton-Mute {
    align-self: first baseline;
    grid-column: 3;
    text-align: right;
    font-family: var(--H-style);
    font-size: 20px;
    color: #fff;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.9);
    background-color: #00000000;
    border: none;
    cursor: pointer;
}

.score {
    grid-column: 2;
    font-family: var(--H-style);
    font-size: 100px;
    color: #fff;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.9);
    text-align: center;
}

.morning {
    background-color: #fff;
}

.mediodia {
    background-color: #00a6ff;
}

.tarde {
    background-color: #ff6955;
}

.noche {
    background-color: #02000f;
}

.chicken {
    width: 51px;
    height: 48px;
    position: absolute;
    left: 120px;
    z-index: 10;
    background: url("/assets/img/chicken.png") repeat-x 0px 0px;
    background-size: 216px 48px;
    background-position-x: 0px;
}

.chicken-running {
    animation: animarChicken 0.25s steps(2) infinite;
}

.chicken-estrellado {
    background-position-x: -165px;
}

@keyframes animarChicken {
    0% {
        background-position-x: -57px;
    }

    100% {
        background-position-x: -165px;
    }
}

.suelo {
    width: 2560px;
    height: 42px;
    position: absolute;
    bottom: -2px;
    left: 0;
    background: url("/assets/img/suelo2.png") repeat-x 0px 0px;
    background-size: 100% 42px;
}

.obstaculoBbq {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 32px;
    left: 600px;
    z-index: 1;
    background: url("/assets/img/obstaculoBbq.gif") no-repeat;
    background-size: contain;
}

.obstaculoRodillo {
    width: 50px;
    height: 100px;
    position: absolute;
    bottom: 32px;
    left: 600px;
    z-index: 1;
    background: url("/assets/img/obstaculoRodillo.gif") no-repeat;
    background-size: contain;
}

.obstaculoDientes {
    width: 135px;
    height: 75px;
    position: absolute;
    bottom: 32px;
    left: 600px;
    z-index: 1;
    background: url("/assets/img/obstaculoDientes.gif") no-repeat;
    background-size: contain;
}

.obstaculoGodzilla {
    width: 105px;
    height: 140px;
    position: absolute;
    bottom: 32px;
    left: 600px;
    z-index: 1;
    background: url("/assets/img/obstaculoGodzilla.png") no-repeat;
    background-size: contain;
}

.nube {
    width: 92px;
    height: 26px;
    position: absolute;
    z-index: 0;
    background: url("/assets/img/nube.png") no-repeat;
    background-size: 92px 26px;
}

.game-over {
    display: none;
    background: #000000f0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.gameover-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
}

.game-over h3 {
    text-align: center;
    font-size: 80px;
    font-family: var(--H-style);
    text-shadow: -5px -5px 0 rgb(255, 146, 146), 5px -5px 0 rgb(147, 146, 255), -5px 5px 0 rgb(252, 255, 150), 5px 5px rgb(144, 255, 181);
}

.game-over button {
    display: none;
    margin: 2%;
    border: 0;
    padding: 15px 10px 8px 10px;
    border-radius: 15px;
    background-color: rgb(255, 149, 0);
    font-size: 20px;
    font-family: var(--H-style);
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.game-over button:hover {
    transform: scale(1.5);
}

.game-over h5 {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-family: var(--H-style);
    -webkit-background-clip: text;
    background-clip: text;
}
